name: Dec3rdCI

on:
 workflow_dispatch

jobs:
 cicd:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v6.0.1
   - name: Docker Setup Buildx
     uses: docker/setup-buildx-action@v3.11.1
   - name: Docker Login
     uses: docker/login-action@v3.6.0
     with:
      username: ${{secrets.DOCKER_USER}}
      password: ${{secrets.DOCKER_PWD}}
   - name: Build and push Docker images
     uses: docker/build-push-action@v6.18.0
     with:
      context: .
      file: ./Dockerfile
      push: true
      tags: |
       ${{secrets.DOCKER_USER}}/myflaskapp:latest
       ${{secrets.DOCKER_USER}}/myflaskapp:${{github.sha}}
