name: Dec3rdCI

on:
 workflow_dispatch

jobs:
 cicd:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v6.0.1
   - name: Action for GitHub Actions
     uses: aws-actions/configure-aws-credentials@v5.1.0
     with:
      aws-access-key-id: ${{secrets.AWS_ACCESS_KEY}}
      aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      aws-region: ${{AWS_REGION}}
   - name: Amazon ECR "Login" Action for GitHub Actions
     id: login-ecr
     uses: aws-actions/amazon-ecr-login@v2
   - name: Set image variables
     id: vars
     run: |
       echo "IMAGE_TAG=Latest" >> $GITHUB_ENV
       echo "FULL_IMAGE=${{steps.login-ecr.outputs.registry}}/${{secrets.ECR_REPO}}:${{IMAGE_TAG}}" >> $GITHUB_ENV
   - name: Build Docker Image
     run: |
      docker build -t $FULL_IMAGE .
   - name: Push to ECR
     run: |
      docker push $FULL_IMAGE
   - name: Deploy to EKS
     run: |
      aws eks update-kubeconfig --region ${{AWS_REGION}} --name ${{secrets.EKS_CLUSTER_NAME}}
   - name: Update kubernetes deployment image
     run: |
      sed -i "s|REPLACE_IMAGE|$FULL_IMAGE|g" k8s/deployment.yml
   - name: Apply manifests to EKS
     run: |
      kubectl apply -f k8s/deployment.yml
      kubectl apply -f k8s/service.yml || true

#- name: Build and push to ECR
#  uses: docker/build-push-action@v6
#  with:
#    context: .
#    push: true
#    tags: ECR_URI/myapp:latest
#
